body {
	background: linear-gradient(to bottom, rgba(186,186,186,1) 0%,rgba(247,247,247,1) 100%);
	font-family: 'Roboto', sans-serif;
}

.firstScreen { position: relative; height: 50vh; display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; margin-bottom: 2rem; }
	.firstScreen .bg { position: absolute; top:0; left:0; bottom:0; right: 0; background: url('../img/1.jpg') 50% 50% no-repeat; filter: blur(0.5rem); background-size: cover; }
	.firstScreen .logo { position: relative; z-index: 2; display: block; width: 50%; height: 50%; }

@media only screen and (min-width : 970px) {
	.firstScreen {
		height: 100vh;
	}
}

.mainArticleCnt { display: flex; }
	.mainArticleCnt .secondaryLinkCnt { margin-top: 2rem; }
		.mainArticleCnt .secondaryLinkCnt a { font-size: 0.8rem; }
		.mainArticleCnt .secondaryLinkCnt a:hover { color: #2a889e; text-decoration: underline; }

.sidebar { display: flex; flex-flow: column wrap; }
	.sidebar .article {  flex-grow: 1; display: flex; }
		

@media only screen and (min-width : 970px) {
	.sidebar .article { padding: 1rem; }
		.sidebar .article .content { padding: 0 0 0 1rem; }
}

.respImage { position: relative; height: 0; padding-bottom: 56.25%; overflow: hidden;  }
	.respImage > img { display: block; width: 100%; }

.hoverableLink { background: #fff; color: #000; cursor: pointer; transition: all 0.3s; }
	.hoverableLink * { cursor: pointer; }
	.hoverableLink:hover { background: #000; color: #fff; }
		.hoverableLink .content { padding: 1rem; }
			.hoverableLink .content a { color: inherit; }

.article {
	margin-bottom: 2rem;
}